<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <title>Dynamax Overlay | Pokécardbrowser</title>
</head>
<body>
    <button id="themeOpener">🎨</button>
    <h1>Dynamax Overlay</h1>
    <p><span class="tag">Rarity: None</span></p>
    <p><span class="tag">Style: SV</span></p>
    <p>Author: ViArielle</p>
    <img class="template" src="/img/templates/dynamax_viarielle_1.png">
    <div id="previewOverlay" class="overlay">
        <span class="close">&times;</span>
        <img class="overlay-img" id="previewImg" src="">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="/index.js"></script>
</body>
</html>
