<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <title>Templates & Overlays | Pokécardbrowser</title>
</head>
<body>
    <button id="themeOpener">🎨</button>
    <h1>Templates & Overlays</h1>
    <div class="columns">
        <div class="column">
            <h2>A</h2>
        </div>
        <div class="column">
            <h2>B</h2>
            <p><a href="./break_brad_1_dual/">[SV] BREAK - brad [None/Full Art]</a></p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h2>C</h2>
        </div>
        <div class="column">
            <h2>D</h2>
            <p><a href="./dynamax_viarielle_1/">[SV] Dynamax - ViArielle</a></p>
            <p><a href="./dynamax_viarielle_1_fa/">[SV] Dynamax - ViArielle [Full Art]</a></p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h2>E</h2>
            <p><a href="./eternamax_viarielle_1/">[SV] Eternamax - ViArielle</a></p>
            <p><a href="./eternamax_viarielle_1_fa/">[SV] Eternamax - ViArielle [Full Art]</a></p>
        </div>
        <div class="column">
            <h2>F</h2>
            <p><a href="./fusion_viarielle_1/">[SV] Fusion - ViArielle</a></p>
            <p><a href="./fusion_viarielle_1_fa/">[SV] Fusion - ViArielle [Full Art]</a></p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h2>G</h2>
            <p><a href="./gigantamax_viarielle_1/">[SV] Gigantamax - ViArielle</a></p>
            <p><a href="./gigantamax_viarielle_1_fa/">[SV] Gigantamax - ViArielle [Full Art]</a></p>
        </div>
        <div class="column">
            <h2>H</h2>
        </div>  
    </div>
    <div class="columns">
        <div class="column">
            <h2>I</h2>
        </div>
        <div class="column">
            <h2>J</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h2>K</h2>
        </div>
        <div class="column">
            <h2>L</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h2>M</h2>
            <p><a href="./megaevolutionex_viarielle_1/">[SV] Mega Evolution ex - ViArielle</a></p>
            <p><a href="./megaevolutionex_viarielle_1_fa/">[SV] Mega Evolution ex - ViArielle [Full Art]</a></p>
        </div>
        <div class="column">
            <h2>N</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h2>O</h2>
        </div>
        <div class="column">
            <h2>P</h2>
            <p><a href="./primalreversionex_viarielle_1/">[SV] Primal Reversion ex - ViArielle</a></p>
            <p><a href="./primalreversionex_viarielle_1_fa/">[SV] Primal Reversion ex - ViArielle [Full Art]</a></p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h2>Q</h2>
        </div>
        <div class="column">
            <h2>R</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h2>S</h2>
        </div>
        <div class="column">
            <h2>T</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h2>U</h2>
        </div>
        <div class="column">
            <h2>V</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h2>W</h2>
        </div>
        <div class="column">
            <h2>X</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h2>Y</h2>
        </div>
        <div class="column">
            <h2>Z</h2>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="/index.js"></script>
</body>
</html>
